<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @ruby_win_source.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @ruby_win_source.password %>
</p>

<%= link_to 'Edit', edit_ruby_win_source_path(@ruby_win_source) %> |
<%= link_to 'Back', ruby_win_sources_path %>
